h3 {
  font-size: 24px;
  margin: 0px 0px 20px 0px;
}

label {
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.task {
  position: relative;
  min-height: 100px;
}

/* 24 */

table {
  border-collapse: collapse;
  width: 100%;
  margin: 20px 0px;
}

th,
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  cursor: pointer;
}

.page-btn {
  margin: 0 5px;
  cursor: pointer;
}

#pagination {
  display: flex;
  justify-content: center;
}

/* 25 */
.newElementStyle {
  width: 200;
  height: 200px;
}

/* 27 */

#animatedButton {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease;
}

#animatedButton.animate {
  transform: translateX(300px);
  background-color: #e74d3c;
  font-size: 24px;
}
